/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

html, body {
  overflow-x: hidden;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .bg-custom {
    background-size: contain;
    background-position: center;
  }
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

@font-face {
  font-family: 'alga';
  src: url('./assets/fonts/alga.ttf') format('truetype');
}

@media (max-width: 767px) {
  .home {
    background-image: url('./assets/wallpaper.jpg') !important;
    background-position: 68% center !important;
    font-family: 'alga';
  }
}

body.rtl {
  direction: rtl;
  text-align: right;
}

body.ltr {
  direction: ltr;
  text-align: left;
}

.ltr .text-left {
  text-align: left;
}

.rtl .text-right {
  text-align: right;
}

.ltr .ml-auto {
  margin-left: auto;
}

.rtl .mr-auto {
  margin-right: auto;
}

.ltr .pl-4 {
  padding-left: 1rem;
}

.rtl .pr-4 {
  padding-right: 1rem;
}
.hover:text-black {
  color: black;
}

.hover\:bg-white:hover {
  background-color: white;
}

.hover\:text-black:hover {
  color: black;
}